.container-fluid
    .row-fluid.egress-template
        .row-fluid.text-center
            .container
                noscript
                    .alert.alert-warning.text-center
                        p Please enable JavaScript to use this application